{% extends "encyclopedia/layout.html" %}

{% block title %}
    New entry
{% endblock %}

{% block body %}
{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}
<h1>Crete a new wiki entry</h1>

<form method="POST" action="{% url 'create_entry' %}">
    {% csrf_token %}
    <label for="title">Your entry's title:</label>
    <input  id="title" name="title" type="text">
    <label for="content">Content (in markdown):</label>
    <textarea id="content" name="content" rows="5" cols="50"></textarea>
    <div><button type="submit" class="button btn-primary">Save</button></div>
</form>

{% endblock %}